trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  variables:
  appName: 'JavaLoginShowcase'
  warFileName: 'JavaLoginShowcase-1.0.0.war'
  artifactName: 'javalogin'
  jdkVersion: '1.8'         # 1.8 / 11 / 17 jo chahiye
  tomcatHome: '/opt/tomcat' # apne server ka TOMCAT_HOME yaha daalo
  deployFolder: '/opt/tomcat/webapps'  # temp folder jaha WAR copy hoga

stages:
# ------------------- BUILD STAGE -------------------
- stage: Build
  displayName: "Build Stage"
  jobs:
  - job: MavenBuild
    displayName: "Build WAR using Maven"
    steps:

    - task: Bash@3
      displayName: "Run Maven Package"
      inputs:
        targetType: 'inline'
        script: |
          cd $(System.DefaultWorkingDirectory)/JavaLoginShowcase
          mvn clean package

    - task: PublishPipelineArtifact@1
      displayName: "Publish WAR Artifact"
      inputs:
        targetPath: "$(System.DefaultWorkingDirectory)/JavaLoginShowcase/target"
        artifact: "$(artifactName)"


# ------------------- DEPLOY STAGE -------------------
- stage: Deploy
  displayName: "Deploy to Tomcat"
  dependsOn: Build
  jobs:
  - job: DeployToServer
    displayName: "Copy WAR to Remote Server"
    steps:

    - task: DownloadPipelineArtifact@2
      displayName: "Download Artifact"
      inputs:
        buildType: 'current'
        artifactName: "$(artifactName)"
        targetPath: "$(Pipeline.Workspace)/$(artifactName)"

    # Debug listing
    - script: |
        echo "Listing artifact contents..."
        ls -R $(Pipeline.Workspace)/$(artifactName)
      displayName: "Verify Artifact Structure"

    - task: CopyFilesOverSSH@0
      displayName: "Copy WAR to Remote Tomcat"
      inputs:
        sshEndpoint: 'linux'  # Make sure service connection name matches
        sourceFolder: "$(Pipeline.Workspace)/$(artifactName)"
        contents: "$(warFileName)"
        targetFolder: "$(deployFolder)"
        readyTimeout: "20000"

    - task: SSH@0
      displayName: "Restart Tomcat Server"
      inputs:
        sshEndpoint: 'linux'
        runOptions: "commands"
        commands: |
          sudo systemctl restart tomcat
          sudo systemctl status tomcat --no-pager
